@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
html {
    font-size: 62.5%;
}

.background {
    background-color: #F0F0F0;
    width: 20%;
    height: 100%;
}

.result-container {
    display: flex;
    width: 100%;
    height: 15%;
    margin-bottom: 0px;
}

#erase {
    height: 100%;
    width: 20%;
    color: #F24405;
}

#erase:hover {
    background-color: #F24405;
    color: white;
}

.background.left {
    box-shadow: inset -5px 0px 8px -2px #565656;
}

.background.right {
    box-shadow: inset 5px 0px 8px -2px #565656;
}

.big-container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

body {
    margin: 0%;
}

* {
    box-sizing: border-box;
    font-family: "Open Sans";
}

.ui {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    padding: 64px 128px;
}

h1 {
    font-size: 4rem;
    font-weight: 300;
}

.result {
    width: 80%;
    height: 100%;
    font-size: 5rem;
    display: flex;
    align-items: center;
    padding-left: 0px;
}

.buttons-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 100%;
    width: 80%;
    margin-top: 0px;
}

.digit {
    background-color: #F29F05;
}

button {
    font-size: 4rem;
    background-color: white;
    border-style: none;
    color: white;
}

.operand {
    color: #0476D9;
}

.operand:hover {
    background-color: #0476D9;
    color: white;
    transition: .2s;
}

button:hover {
    background-color: #6F7302;
    color: white;
    transition: .2s;
}

.operand:hover {
    background-color: #0476D9;
    color: white;
    transition: .2s;
}

.operands-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 100%;
    width: 20%;
    margin-top: 0px;
}

.calculator-container {
    display: flex;
    min-width: 100%;
    height: 80%;
}

@media screen and (max-width:1100px) {
    .background {
        display: none;
    }
    .ui {
        padding: 16px 32px;
        width: 100%;
    }
    button {
        font-size: 3rem;
    }
    .result {
        font-size: 4rem;
    }
    .big-container {
        display: flex;
        min-height: 100vh;
        min-height: -webkit-fill-available;
    }
    html {
        height: -webkit-fill-available;
    }
}